body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #60646c;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid #000;
  image-rendering: pixelated;
  width: 100%;
  max-width: 960px;
  height: auto;
}
